<style>

  .separator {
    margin-bottom: 30px;
  }

  .bigSeparator {
    margin-bottom: 100px;
  }
  .bold {
    font-weight: bold;
  }

  p {
    margin: 1px 0 !important;
  }



  th,
  tr,
  td {
    border: 1px solid black;
    padding: 2px 4px;
    text-align: center;
  }
</style>


<div style="height:100% ; width: 100%; padding: 3%; ">

  <header style="display: flex; justify-content: space-between" class="separator">
    {%comment%}
      Informations sur l'entreprise
    {%endcomment%}
    <div>
      <p>{{ shop_name }}</p>
      <p>{{ shop.address }}</p>
      <p>{{ shop.zip }} {{ shop.city }}</p>
    </div>

    <div>
      <p class="bold">Facture {{ order_name }}</p>
      <p>{{ "now" | date: "%d/%m/%Y" }}</p>
      <p class="bold">PAYÉE</p>
    </div>

  </header>


  <div style="display:flex; justify-content: space-between" class="bigSeparator">
    <div>
      <h3>Adresse de facturation</h3>
      <p>Jean Dupont</p>
      <p>1 Place Kléber</p>
      <p>67000 Strasbourg</p>
    </div>

    <div>
      <h3>Adresse de livraison</h3>
      <p>{{ shipping_address.name }}</p>
      <p>{{ shipping_address }}</p>
    </div>
  </div>



  {%comment%}
    Détails de la commande
  {%endcomment%}
  <section class="bigSeparator">
    <table class="separator" style="border-collapse: collapse; width: 100%; table-layout: fixed">
      <thead>
        <tr>
          <th>Articles</th>
          <th>Quantité</th>
          <th>Prix unitaire HT</th>
          <th>Sous-total HT</th>
        </tr>
      </thead>

      <tbody>
        {% comment %}
          Pour chaque article, créé une ligne dans le tableau
        {% endcomment %}
        {% for line_item in line_items %}
          <tr>
            <td>{{ line_item.title }}</td>
            <td>{{ line_item.quantity }}</td>
            <td>
              {%comment%}
                Ici je calcule unit_price - (tax_line.price / line_item.quantity)
              {%endcomment%}
              {{ line_item.price | minus: line_item.tax_lines[0].price | money}}
            </td>
            <td>
              {{ line_item.price | minus: line_item.tax_lines[0].price | times: line_item.quantity | money }}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <table style="border-collapse: collapse; width: 100%; table-layout: fixed">
      <thead>
        <th>Total HT</th>
        <th>TVA 20%</th>
        <th>Remise</th>
        <th>Frais de livraison</th>
        <th style="background-color: lightgray;">TOTAL TTC</th>
      </thead>

      <tbody>
        <tr>
          <td>{{ subtotal_price | minus: tax_price | money }}</td>
          <td>{{ tax_price | money }}</td>
          <td>50€</td>
          <td></td>
          <td style="background-color: lightgray;">{{ total_price | money }}</td>
        </tr>
      </tbody>
    </table>
  </section>



  {%comment%}
    Infos complémentaires
  {%endcomment%}
  <footer style="background: lightgray; text-align: center">
    <p style="margin-bottom: 10px;">Votre satisfaction est notre priorité. Pour toutes questions, merci de contacter contact@explore.fr</p>

    <p>
      <span>Numéro SIRET 123 456 789 01234 A RCS PARIS</span>
      -
      <span>Explore SAS au capital social de 50 000€</span>
      -
      <span>Numéro de TVA intracommunautaire: FR 12 345 678 901</span>
    </p>
  </footer>
</div>