{{% comment %} Voici une possibilité unifiée de footer à ajouter à la fin de vos emails transactionnels sur Shopify {%
endcomment %}%}
<table class="row footer">
  <tr>
    <td class="footer__cell">
      <center>
        <table class="container disclaimer__subtext" style="text-align:center">
          <tr>
            <td>
              <p style="margin-bottom: 20px" class="footerText disclaimer__subtext">Si vous avez la moindre question,
                répondez simplement
                à ce mail ou contactez-nous via la messagerie disponible sur notre boutique. Nous serons heureux de
                pouvoir vous aider&nbsp;!
              </p>
            </td>
          </tr>

          <div class="disclaimer__subtext">
            <tr>
              <td class="footerText">
                {{ shop.name }}
              </td>
            </tr>
            <tr>
              <td class="footerText">
                {{ shop.address.address1 }}&nbsp;{{ shop.address.zip }}&nbsp;{{ shop.address.city }}
              </td>
            </tr>
            <tr>
              <td class="footerText">
                {{ shop.secure_url }}
              </td>
            </tr>
          </div>

        </table>
      </center>
    </td>
  </tr>
</table>